
@charts-blue: #3996c0;
@charts-grey: rgb(150, 200, 177);
@charts-white: #f5f5f5;
@charts-blue: #90acc2;

@charts-fontfamily: "Titillium Web", sans-serif;

@navbarHeight: 91px;


/* you'll need this CSS somewhere */
.fade-enter {
  opacity: 0;
  z-index: 1;
}

.fade-enter.fade-enter-active {
  opacity: 1;
  transition: opacity 250ms ease-in;
}


.chartpanel {
  border:1px solid #90acc2;
  border-radius: 5px;
}

.empty {
  border:thick double #90acc2;
}


.chart-title {
  //background-color: #f1f4f0;
  color: black;
  text-align: center;
  font-size: 43px;
}

